.App {
  text-align: center;
}

.btn-large{
  width:100%;
}

.logo{
  width:4rem;
}

.icon{
  width:3rem;
}

.imgContainer{
  display:flex;
  justify-content: center;
  align-items: center;
  height:100%;
}

.currContainer{
  display:flex;
  justify-content: center;
  align-items: center;
}