.App {
  text-align: center;
}

.btn-large{
  width:100%;
}

.logo{
  width:4rem;
}

.icon{
  width:3rem;
  cursor: pointer;
}

.imgContainer{
  display:flex;
  justify-content: center;
  align-items: center;
  height:100%;
}

.currContainer{
  display:flex;
  justify-content: center;
  align-items: center;
}

#FromCurr, #ToCurr{
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .currText{
    font-size: 1rem;
    font-weight: bold;
  }
}