.App {
  text-align: center;
}

.btn-large{
  width:100%;
}

.logo{
  width:4rem;
}

.icon{
  width:3rem;
  cursor: pointer;
}

.imgContainer{
  display:flex;
  justify-content: center;
  align-items: center;
  height:100%;
}

.currContainer{
  display:flex;
  justify-content: center;
  align-items: center;
}

#FromCurr, #ToCurr{
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .currText{
    font-size: 2rem;
    margin:0;
  }

  .choiceText{
    font-size:1.2rem;
  }

  .icon{
    width:2rem;
  }

  .headerText{
    margin-bottom:0;
  }

  .amountRow{
    margin-bottom:0;
  }

}